<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base2</title>
</head>
<body>
    <div class="set">
        <div class="set1">
            <div class="Previous1">
                <a href="../../real_page/Sample.html">
                    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="50" height="50" rx="15" fill="#92B4EC"/>
                        <path d="M33 11.8606L30.4216 9L16 25L30.4216 41L33 38.1394L21.1568 25L33 11.8606Z" fill="white"/>
                        </svg>
                        
                        
                </a>

            <div class="h2_part(changeable)">
                <h2>결제</h2>           
            </div>
            
        {% block content %} 

        <!-- 개별코드 들어갈 곳 -->
    
        {% endblock %}

            </div>
        </div>
    </div>
</body>
</html>